@using Hockey.Data
@using Hockey.Service

@inject PlayerService PlayerService

<input  type="text" bind-value-onkeydown="@playerName" onkeydown="@(() => AutoSearch())" />

 <p>Name: @playerName</p>

@if (foundPlayers == null)
{
    <p><em>No Players Found</em></p>
}
else
{
    <ul>
        @foreach (var player in foundPlayers)
        {
            <li>@player.Name</li>
        }
    </ul>   
}

@functions {
    string playerName;

    Player[] foundPlayers;

    protected async Task AutoSearch()
    {
        foundPlayers = await PlayerService
            .GetPlayersByNameAsync(playerName);
    }
}