@using Hockey.Service
@using Hockey.Data
@inject TeamService TeamService

<div class="card">
    <div class="card-block">
        <i class="fa fa-check"></i>
    </div>
    <p class="card-text">@team.Name</p>
</div>

@functions {
    [Parameter]
    private int Id { get; set; }

    Team team;

    protected override async Task OnInitAsync()
    {
        team = await TeamService.GetTeamAsync(Id);
    }
}