@page "/"
@inject IJSRuntime JS
@inject HttpClient Http

<div class="chart" id="full-rink-horz"></div>

<p>@message</p>

<p>Hello</p>

@code {
    string message;

    protected override async Task OnInitializedAsync()
    {       
        message = await Http.GetStringAsync("api/HttpTriggerSchedule");
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("showRink");
        }

    }  
}