@page "/"
@inject IJSRuntime JS

<div class="chart" id="full-rink-horz"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("showRink");
        }
    }  
}