@page "/teams"

@using Hockey.Data
@using Hockey.Service
@using Hockey.Components

@inject TeamService TeamService

<h1>Teams</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (teams == null)
{
    <p><em>Loading...</em></p>
}
else
{
  <ul>
    @foreach (var team in teams)
    {
      <li>
        <TeamCard Id=@team.Id ></TeamCard>
      </li>
    }
  </ul>    
}

@functions {
    Team[] teams;

    protected override async Task OnInitAsync()
    {
        teams = await TeamService.GetTeamsAsync();
    }
}
